.area {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    text-align: center;
    line-height: 200px;
    cursor: url("https://uploaddeimagens.com.br/imagens/GDQtlpk"), auto; /* Define o cursor personalizado */

}
